[submodule "TypeScriptLanguageServiceGenerator/TypeScript"]
	path = TypeScriptLanguageServiceGenerator/TypeScript
	url = https://github.com/Microsoft/TypeScript.git
[submodule "TypeScript"]
	path = TypeScript
	url = https://github.com/Microsoft/TypeScript.git
